---
- name: Doppler | Add GTOPO30 vrt to .bashrc
  lineinfile: dest="{{ home_dir }}/.bashrc" line='export GTOPO30={{ gtopo30_path }}'
  when: mount_network_folders is defined and mount_network_folders
  ignore_errors: yes

# THIS DOESN'T WORK..:
#- name: Add the github SSH public key to the vm authorized_keys
#  authorized_key: user=vagrant key="{{ lookup('file', '/Users/mortenh/.ssh/id_rsa_github.pub') }}"
#
#- name: Update/checkout sar-doppler
#  git: repo=git@github.com:nansencenter/sar-doppler.git
#       dest="{{ dev_sources_dir }}/sar-doppler"
#       version=master
#       update=yes
#       accept_hostkey=yes
#       #key_file=/home/vagrant/.ssh/id_rsa_github


#- name: Doppler | Download sample datasets
#  get_url: url="{{ sample_data_url }}/{{ item.mapper }}/{{ item.name }}" dest="{{ sample_data_dir }}/{{ item.mapper }}/{{ item.name }}" force=no
#  with_items:
#    - "{{ doppler_files }}"
#
#- name: Doppler | Create link from Python dist-packages to sar-doppler
#  become: yes
#  file: path='{{ python_dist_packages }}/sardoppler'
#        src='{{ dev_sources_dir }}/sar-doppler/sardoppler'
#        state=link
#        force=yes
#
#- name: Doppler | Create link from Python dist-packages to sar-doppler mappers
#  become: yes
#  file: path='{{ python_dist_packages }}/nansat_mappers'
#        src='{{ dev_sources_dir }}/sar-doppler/nansat_mappers'
#        state=link
#        force=yes

#- name: Add doppler files to db
#  django_manage: >
#      command='ingest {{ mount_name }}/{{ item.name }}'
#      app_path='{{ dev_sources_dir }}/nansen-cloud/project'
#  with_items:
#    - '{{ doppler_files }}'
#  when: mount_network_folders is defined and mount_network_folders 
#
#- name: Add netcdf doppler files to db
#  django_manage: >
#      command='add_images {{ sample_data_dir }}/asar_netcdf_old_doppler/ASA*.nc'
#      app_path='{{ dev_sources_dir }}/nansen-cloud/project'
#
#- name: Add gsar doppler files to db
#  django_manage: >
#      command='add_images {{ sample_data_dir }}/gsar/*.gsar'
#      app_path='{{ dev_sources_dir }}/nansen-cloud/project'

